.stats .stat .icon {
    margin-right: 20px;
}

.stats .stat .num {
    margin-left: 25px;
}

.sign-in input {
    padding-left: 70px
}

.sign-in div .input-icon {
    left: 35px
}

.footer .content {
    margin-left: 30px;
}