.stats .stat .icon {
    margin-left: 20px;
}

.stats .stat .num {
    margin-right: 25px;
}

.sign-in input {
    padding-right:70px
}

.sign-in div .input-icon {
    right: 40px
}

.footer .content {
    margin-right: 30px;
}